#about .about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  align-items: center;
}

#about .col-center {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

#about .about .col-center h1.section-title {
  font-size: 5.5rem;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#about .col-center h1.section-title span {
  color: crimson;
}

#about .col-center h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: #333;
  margin-bottom: 50px;
}

#about .col-center p {
  font-size: 2rem;
  font-weight: 400;
  color: #555;
  line-height: 2.5rem;
  text-align: justify;
  text-align-last: center;
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  #about .col-center {
    text-align: left;
  }
}

/* Media Query For Mobile */
@media only screen and (max-width: 600px) {
  #about .about {
    padding-block: 70px;
    background-color: red;
  }

  #about .about .col-center h1.section-title {
    font-size: 3.5rem;
  }

  #about .about .col-center h2 {
    font-size: 1.8rem;
    margin-bottom: 32px;
  }

  #about .about .col-center p {
    font-size: 1.6rem;
  }
}

/* Media Query For Mobile */
@media only screen and (max-width: 600px) {
  #about .about {
    padding-block: 70px;
  }
  #about .about .col-center h2 {
    font-size: 1.8rem;
    margin-bottom: 32px;
  }

  #about .about .col-center p {
    font-size: 1.6rem;
  }
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  #about .col-center h2 {
    font-size: 2.5rem;
  }

  #about .col-center p {
    font-size: 1.8rem;
  }
}
